In [1]:
import pandas as pd
import numpy as np

In [2]:
carea = pd.read_csv("coupon_area_train.csv")
cdetail = pd.read_csv("coupon_detail_train.csv")
clist = pd.read_csv("coupon_list_train.csv")
cvisit = pd.read_csv("coupon_visit_train.csv")
#pre_loc = pd.read_csv("prefecture_locations.csv")
user_list = pd.read_csv("user_list.csv")

In [55]:

print("==============coupon_area_train==================")
print(carea.columns)
print("=============coupon_detail_train===================")
print(cdetail.columns)
print("=============coupon_list_train==============")
print(clist.columns)
print("============coupon_visit_train============")
print(cvisit.columns)
#print("===========prefecture_locations==============")
#print(pre_loc.columns)
print("============user_list===============")
print(user_list.columns)

==============coupon_area_train==================
Index(['SMALL_AREA_NAME', 'PREF_NAME', 'COUPON_ID_hash'], dtype='object')
=============coupon_detail_train===================
Index(['ITEM_COUNT', 'I_DATE', 'SMALL_AREA_NAME', 'PURCHASEID_hash',
       'USER_ID_hash', 'COUPON_ID_hash'],
      dtype='object')
=============coupon_list_train==============
Index(['CAPSULE_TEXT', 'GENRE_NAME', 'PRICE_RATE', 'CATALOG_PRICE',
       'DISCOUNT_PRICE', 'DISPFROM', 'DISPEND', 'DISPPERIOD', 'VALIDFROM',
       'VALIDEND', 'VALIDPERIOD', 'USABLE_DATE_MON', 'USABLE_DATE_TUE',
       'USABLE_DATE_WED', 'USABLE_DATE_THU', 'USABLE_DATE_FRI',
       'USABLE_DATE_SAT', 'USABLE_DATE_SUN', 'USABLE_DATE_HOLIDAY',
       'USABLE_DATE_BEFORE_HOLIDAY', 'large_area_name', 'ken_name',
       'small_area_name', 'COUPON_ID_hash'],
      dtype='object')
============coupon_visit_train============
Index(['PURCHASE_FLG', 'I_DATE', 'PAGE_SERIAL', 'REFERRER_hash',
       'VIEW_COUPON_ID_hash', 'USER_ID_hash', 'SESSION_ID_hash',
       'PURCHASEID_hash'],
      dtype='object')
============user_list===============
Index(['REG_DATE', 'SEX_ID', 'AGE', 'WITHDRAW_DATE', 'PREF_NAME',
       'USER_ID_hash'],
      dtype='object')

In [56]:
carea.head()

  SMALL_AREA_NAME PREF_NAME                    COUPON_ID_hash
0              埼玉       埼玉県  6b263844241eea98c5a97f1335ea82af
1              千葉       千葉県  cc031f250e8bad1e24060263b9fc0ddd
2              千葉       千葉県  ba5e9b7453ca52ff711635a5d2e8102d
3              千葉       千葉県  3e1ffbedca3569f9e8032d401e8cb4e6
4              千葉       千葉県  782934b6c815b4030ea204eef7d4a734

In [58]:
cdetail.head()

,ITEM_COUNT,I_DATE,SMALL_AREA_NAME,PURCHASEID_hash,USER_ID_hash,COUPON_ID_hash
0,1,2012-03-28 15:06:06,兵庫,c820a8882374a4e472f0984a8825893f,d9dca3cb44bab12ba313eaa681f663eb,34c48f84026e08355dc3bd19b427f09a
1,1,2011-07-04 23:52:54,銀座・新橋・東京・上野,1b4eb2435421ede98c8931c42e8220ec,560574a339f1b25e57b0221e486907ed,767673b7a777854a92b73b0934ddfae7
2,1,2011-07-16 00:52:49,恵比寿・目黒・品川,36b5f9ba46c44b65587d0b16f2e4c77f,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
3,1,2011-07-16 00:54:53,恵比寿・目黒・品川,2f30f46937cc9004774e576914b2aa1a,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
4,1,2011-07-16 00:55:52,恵比寿・目黒・品川,4d000c64a55ac573d0ae1a8f03677f50,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2

In [ ]:
cvisit.head()

In [43]:
clist.ken_name.unique()

array(['埼玉県', '千葉県', '東京都', '京都府', '愛知県', '神奈川県', '北海道', '福岡県', '栃木県',
       '大阪府', '宮城県', '福島県', '大分県', '高知県', '広島県', '新潟県', '岡山県', '愛媛県',
       '香川県', '徳島県', '兵庫県', '岐阜県', '宮崎県', '長崎県', '石川県', '山形県', '静岡県',
       '青森県', '沖縄県', '秋田県', '長野県', '岩手県', '熊本県', '山口県', '佐賀県', '奈良県',
       '三重県', '群馬県', '和歌山県', '山梨県', '鳥取県', '鹿児島県', '福井県', '滋賀県', '富山県',
       '島根県', '茨城県'], dtype=object)

In [45]:
carea.PREF_NAME.unique()

array(['埼玉県', '千葉県', '東京都', '京都府', '愛知県', '神奈川県', '北海道', '福岡県', '栃木県',
       '大阪府', '宮城県', '福島県', '大分県', '高知県', '広島県', '新潟県', '岡山県', '愛媛県',
       '香川県', '徳島県', '兵庫県', '岐阜県', '宮崎県', '長崎県', '山梨県', '石川県', '山口県',
       '富山県', '山形県', '秋田県', '鳥取県', '奈良県', '鹿児島県', '三重県', '熊本県', '長野県',
       '滋賀県', '静岡県', '青森県', '茨城県', '群馬県', '福井県', '和歌山県', '沖縄県', '佐賀県',
       '島根県', '岩手県'], dtype=object)

In [44]:
print(clist.CAPSULE_TEXT.value_counts())
print(clist.GENRE_NAME.value_counts())

宅配          5841
グルメ         3658
ホテル         1943
ヘアサロン       1436
旅館          1351
リラクゼーション    1089
その他          827
エステ          758
レッスン         673
レジャー         664
ネイル・アイ       626
ギフトカード       104
ペンション        103
民宿            99
健康・医療         55
WEBサービス       42
ビューティー        42
貸別荘           28
ロッジ           24
ゲストハウス        13
通信講座          12
通学レッスン        11
公共の宿           9
イベント           4
ビューティ          1
Name: CAPSULE_TEXT, dtype: int64
宅配          5841
グルメ         3658
ホテル・旅館      3570
ヘアサロン       1436
リラクゼーション    1089
その他のクーポン     873
エステ          758
レッスン         696
レジャー         664
ネイル・アイ       626
ギフトカード       104
健康・医療         55
ビューティー        43
Name: GENRE_NAME, dtype: int64

In [46]:
cdetail.head()

,ITEM_COUNT,I_DATE,SMALL_AREA_NAME,PURCHASEID_hash,USER_ID_hash,COUPON_ID_hash
0,1,2012-03-28 15:06:06,兵庫,c820a8882374a4e472f0984a8825893f,d9dca3cb44bab12ba313eaa681f663eb,34c48f84026e08355dc3bd19b427f09a
1,1,2011-07-04 23:52:54,銀座・新橋・東京・上野,1b4eb2435421ede98c8931c42e8220ec,560574a339f1b25e57b0221e486907ed,767673b7a777854a92b73b0934ddfae7
2,1,2011-07-16 00:52:49,恵比寿・目黒・品川,36b5f9ba46c44b65587d0b16f2e4c77f,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
3,1,2011-07-16 00:54:53,恵比寿・目黒・品川,2f30f46937cc9004774e576914b2aa1a,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2
4,1,2011-07-16 00:55:52,恵比寿・目黒・品川,4d000c64a55ac573d0ae1a8f03677f50,560574a339f1b25e57b0221e486907ed,4f3b5b91d9831192557c056022fdc1f2

In [47]:
cvisit.head()

,PURCHASE_FLG,I_DATE,PAGE_SERIAL,REFERRER_hash,VIEW_COUPON_ID_hash,USER_ID_hash,SESSION_ID_hash,PURCHASEID_hash
0,0,2012-03-28 14:15:00,7,7d3892e54acb559ae36c459978489330,34c48f84026e08355dc3bd19b427f09a,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN
1,0,2012-03-28 14:17:28,9,7d3892e54acb559ae36c459978489330,34c48f84026e08355dc3bd19b427f09a,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN
2,0,2012-03-28 14:20:05,16,7d3892e54acb559ae36c459978489330,17c450c3b470c045d35ec22b02daa690,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN
3,0,2012-03-28 14:23:16,18,7d3892e54acb559ae36c459978489330,91a15e6a95d09e5e01b50747833b317d,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN
4,0,2012-03-28 14:26:25,20,7d3892e54acb559ae36c459978489330,96fcbc8f6e45d5a2de1661eb140c6e82,d9dca3cb44bab12ba313eaa681f663eb,673af822615593249e7c6a9a1a6bbb1a,NaN

In [53]:
cvisit.VIEW_COUPON_ID_hash.value_counts()

a262c7ff56a5cd3de3c5c40443f3018c    14779
d0e1b63cb7cc32edc3a6c619e4215368     3368
3d9029d3ec66802b11ee2645dc16e8cb     3126
39c215bfdebc9c2e945d4f63cb25a58d     2751
09411858ae07c0be91aeeddacf4556b4     2645
                                    ...
d82f4029ca7f737282097877b157db88        1
85c5556f1694cded9ce1f6d89aa5a7a5        1
6ac15ea7288221574a5ff01749d49995        1
be825907f27c1b6352109ea532694519        1
84b5b002358a9561b34b67e9c5fe5c3b        1
Name: VIEW_COUPON_ID_hash, Length: 32628, dtype: int64

In [54]:
carea.COUPON_ID_hash.value_counts()

5e618a8c6f6c33845831d92441a091c8    55
cef38abd9aea06e568b6e328a06cd417    55
3ee09a7d780c69d4d8894e311e0bf791    55
99307241673fa5f22e06f6336a650e28    55
121321128607aee70bc78fe70f7d0de2    55
                                    ..
0cbc33b9065feea48403a080bc8926ec     1
4cbed27c0813fc0d6c30aaddf87cf4d2     1
07e40535532a9ad6563bb7a74a3f4e93     1
3ed6e4e9ddbaaba26bb04c4b290a3eae     1
b460970138c9d7854b7d550892344376     1
Name: COUPON_ID_hash, Length: 19368, dtype: int64

In [17]:
pre_loc.head()
#seems useless

  PREF_NAME PREFECTUAL_OFFICE   LATITUDE   LONGITUDE
0       北海道               札幌市  43.063968  141.347899
1       青森県               青森市  40.824623  140.740593
2       岩手県               盛岡市  39.703531  141.152667
3       宮城県               仙台市  38.268839  140.872103
4       秋田県               秋田市  39.718600  140.102334

In [39]:
pre_loc.PREFECTUAL_OFFICE.value_counts()

松山市      1
大津市      1
広島市      1
福岡市      1
富山市      1
宮崎市      1
山形市      1
高知市      1
青森市      1
仙台市      1
新宿区      1
岡山市      1
水戸市      1
名古屋市     1
甲府市      1
和歌山市     1
福島市      1
那覇市      1
さいたま市    1
熊本市      1
大阪市      1
松江市      1
福井市      1
宇都宮市     1
前橋市      1
鹿児島市     1
大分市      1
奈良市      1
岐阜市      1
津市       1
高松市      1
徳島市      1
神戸市      1
鳥取市      1
山口市      1
横浜市      1
新潟市      1
長野市      1
盛岡市      1
札幌市      1
秋田市      1
佐賀市      1
金沢市      1
長崎市      1
千葉市      1
静岡市      1
京都市      1
Name: PREFECTUAL_OFFICE, dtype: int64